<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="monitoring" type="Anteeo.Dashboard.Web.Configuration.MonitoringSection, Anteeo.Dashboard.Web" />
  </configSections>
  <monitoring pollInterval="30000">
    <environments>
      <environment name="Test">
        <sources>
          <source name="TMSWebTest" url="http://tmswebtest.anteeo.co.uk/Test" group="TMSWeb">
            <databases>
              <database name="conn1" connectionString="Server=DESKTOPPC\SQLEXPRESS;Database=TrelloTrackerx;Trusted_Connection=True;" />
              <database name="conn2" connectionString="Server=DESKTOPPC\SQLEXPRESS;Database=TrelloTracker;Trusted_Connection=True;" />
              <database name="conn3" connectionString="Server=DESKTOPPC\SQLEXPRESS;Database=TrelloTrackerx;Trusted_Connection=True;" />
            </databases>
          </source>
          <source name="TMSWebSolos" url="http://tmswebtest.anteeo.co.uk/Solos" group="TMSWeb">
            <databases>
              <database name="conn1" connectionString="Server=DESKTOPPC\SQLEXPRESS;Database=TrelloTracker;Trusted_Connection=True;" />
            </databases>
          </source>
          <source name="TMSWebTravelConnection" url="http://tmswebtest.anteeo.co.uk/TravelConnection" group="TMSWeb">
            <databases>
              <database name="conn1" connectionString="Server=DESKTOPPC\SQLEXPRESS;Database=TrelloTracker;Trusted_Connection=True;" />
            </databases>
          </source>
          <source name="TMSWebSportif" url="http://tmswebtest.anteeo.co.uk/Sportif" group="TMSWeb">
            <databases>
              <database name="conn1" connectionString="Server=DESKTOPPC\SQLEXPRESS;Database=TrelloTrackerx;Trusted_Connection=True;" />
            </databases>
          </source>
          <source name="SolosHolidays" url="http://solos.anteeo.co.uk" group="Websites" />
          <source name="Tickets4Arsenal" url="http://tickets4arsenal.anteeo.co.uk" group="Websites" />
          <source name="TravelConnection" url="http://travelconnection.anteeo.co.uk" group="Websites" />
        </sources>
      </environment>
    </environments>
  </monitoring>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>