<h2>Dashboard</h2>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Anteeo Solutions Monitoring Dashboard</h2>
    </div>
    <div class="panel-body">
        <div class="row" ng-repeat="environment in dashboard.environments">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-server fa-3x"></i>&nbsp;{{ environment.name }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="group in environment.groups">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-folder fa-2x"></i>
                                            &nbsp;{{ group.name }}
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-4" ng-repeat="source in group.sources">
                                            <div class="panel" ng-class="getPanelStatus(source.status)" >
                                                <div class="panel-heading" uib-tooltip="{{ source.message }}" animate-change="source.status" change-class="flash">
                                                    <h5 class="panel-title">
                                                        <i class="fa fa-globe fa-lg"></i>
                                                        &nbsp;<a href="{{ source.url}}" target="_blank">{{ source.name }}</a>
                                                    </h5>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="panel panel-dashboard" ng-show="source.monitorCPU">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-xs-12 text-center">
                                                                    <div class="huge">{{ source.percentProcessorTime }}</div>
                                                                    <div class="controls left"><i class="ion ion-more"></i></div>
                                                                    <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                                                    <div class="center">Responsive Timeline</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.panel-heading -->
                                                        <div class="panel-body">
                                                            <div>
                                                                <div>
                                                                    <epoch-live-line chart-class="category10" chart-height="200" chart-data="realtimeLine" chart-stream="realtimeLineFeed" chart-axes="areaAxes"></epoch-live-line>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- /.panel-body -->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3" ng-repeat="database in source.databases">
                                                            <div class="panel" ng-class="getPanelStatus(database.status)">
                                                                <div class="panel-heading" uib-tooltip="{{ database.message }}" animate-change="database.status" change-class="flash">
                                                                    <h6 class="panel-title">
                                                                        <i class="fa fa-database"></i>
                                                                        {{ database.name }}
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
