/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.flash-add {
    transition: 0s linear all;
    background: yellow;
}
.flash-add.flash-add-active {
    transition: 0.5s ease-in all;
    background: none;
}